<%# yield %>
<div id="dankhouse">
  <nav class="navbar">
    <h1 class="dankhouse-header navbar-brand" id="site-header">Dankhouse<span id="dankhouse-radio" color="red">Radio</span></h1>
    <button type="button" id="launchQueue" class=" btn btn-primary" onClick="w=window.open('/queue','Queue', 'width=720,height=400').focus();"><i class="far fa-play-circle"></i>  Listen In</a>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="dankhouse">
          <script type="text/javascript">
            var ezcapechat_room="dankhouse", ezcapechat_width="900px", ezcapechat_height="650px";
          </script>
          <script src="https://www.ezcapechat.com/embed/room.js"></script>
        </div>
      </div>
      <div class="col">
        <div id="socket">
          <input type="text" name="name" class="form-control" id="socket-name">
          <button class="btn btn-success" id="connectSocket" onclick="connectSocket();">Connect</button>
        </div>
      </div>
    </div>
  </div>
</div>
