<%# yield %>

 <script type="text/javascript">
   var ezcapechat_room="dankhouse", ezcapechat_width="900px", ezcapechat_height="650px";
 </script>
 <script src="https://www.ezcapechat.com/embed/room.js"></script>
 <div id="ezcapechat_chat"></div>
